{# templates/saml/login_form.html.twig #}
{% extends 'saml/layout.html.twig' %}

{% block content %}
    <div class="text-center">
        <h3 class="mb-5">Sign in</h3>
    </div>
    {{ form(form) }}
{% endblock %}
